name: pipeline test
on: workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create JAR file
        run: |
          sudo apt install openjdk-25-jdk-headless
          javac -d build $(find src -name "*.java")
          ls -la build
